@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
}

.header {
    background-image: linear-gradient(to bottom, rgba(175, 129, 2, 0.452), rgba(0, 0, 0, 0.89)), url(images/header-image.png);
    background-repeat: no-repeat;
    width: 1900px;
    height: 1000px;
}

.header-big-text {
    font-size: 80px;
    color: aliceblue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-details-text {
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
}

#btn-donate {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: orange;
    padding: 20px 40px;
    background-image: linear-gradient(#81c5f1, #3055cc);
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 700px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.seound-part-big-text {
    font-size: 60px;
    color: rgb(36, 36, 36);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.seound-part-details-text {
    font-size: 20px;
    color: rgb(37, 37, 37);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 300px;
    padding-right: 300px;

}

.box-item {
    text-align: center;
    margin-left: 25%;
}

ul {
    display: flex;
    list-style: none;

}

li {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    padding: 50px;
    margin: 0 15px;
    background-color: rgba(187, 187, 187, 0.237);
    border-radius: 5px;
}

#select-item {
    border: 2px solid rgba(0, 97, 241, 0.664);
    background-color: rgba(47, 157, 247, 0.377);
}

#inputNumber {

    width: 850px;
    ;
    text-align: center;
    margin-top: 5%;
    margin-left: 28%;
    font-size: 20px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    margin-bottom: 50px;
    padding-bottom: 10px;

}

#btn-donate2 {
    text-decoration: none;
    font-size: 30px;
    padding: 20px 40px;
    background-image: linear-gradient(#81c5f1, #3055cc);
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    margin-left: 44%;
    font-family: 'Roboto', sans-serif;
}

.third-part-big-text {

    margin-top: 200px;
    font-size: 60px;
    color: rgb(36, 36, 36);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;

}

.third-part-details-text {
    font-size: 25px;
    color: #424242cc;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 500px;
    padding-right: 500px;

}

.seound-box-item {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    display: flex;
    list-style: none;
}